<div id="about">
	<p>
		Copyright 2020 Cyrill Martin - <%= link_to "GitHub", "https://github.com/cyrill-martin/kmapper", target: "_blank", rel: "nofollow" %>
	</p>
	<p>
		Article metadata by <%= link_to "DOAJ", "https://doaj.org", target: "_blank", rel: "nofollow" %> - <%= link_to "CC BY-SA 4.0", "https://creativecommons.org/licenses/by-sa/4.0/", target: "_blank", rel: "nofollow" %>
	</p>
</div>