/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*Fonts*/
@import url("fonts.css.scss");

* {
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	position: relative;
	margin: 0;
	font-family: 'Tex Gyre Heros';
	font-size: 1em;
}

a, a:visited {
	color: #514efd;
	text-decoration: none;
}

a:hover, a:focus {
  color: #f240ff;
  background: none;
}

#container {
	min-height: 100vh; /* will cover the 100% of viewport */
	overflow: hidden;
	display: block;
	position: relative;
	/*padding-bottom: 80px;*/ /* height of your footer */
}

header {
	position: fixed;
	top: 0;
	height: 60px;
	width: 100%;
	padding: 15px 0 0 15px;
	background-color: white;
	z-index: 20;
}

#logo_container {
	position: relative;
	float: left;
	width: 150px;
	height: 100%;
	font-size: 1em;
}

#menu_container {
	float: right;
	padding: 0 15px 0 15px;

}

#main {
	margin-top: 65px;
	padding: 0 15px 0 15px;
	height: 100%;
}

/*footer {
	position: absolute;
	text-align: center;
	padding-top: 10px;
	bottom: 0;
	width: 100%;
	height: 80px;
	font-size: 0.8em;
	background: #ffffff;
}*/

@media only screen and (max-width:1200px) {
	/* Responsiveness */
	#main {
		height: 100%;
	}
}

/*@media only screen and (max-width: 750px) {

	header {
		margin-bottom: 15px;
	}

	form.search {
		padding-right: 5px;

	}

	form.search input[type=text] {
		width: 90%;
		float: left;
	}

	form.search button {
		width: 10%;
		float: left;
	}
 }*/
