// Place all the styles related to the doaj controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#kmap_wrapper {
	position: fixed;
	left: 15px;
	width: 30%;
	z-index: 10;
}

.query {
	
}

#resetKmap {
	visibility: hidden;
}

#kmap_map {

}

#info {
	position: relative; 
	padding: 5% 0 0 10%;
	font-family: 'Liberation Mono';	
}

#kmap {
	position: relative; 
	padding: 5% 0 0 10%;
	width: 80%;
	font-family: 'Liberation Mono';
}

#kmap_legend {
  	position: fixed; 
  	left: 28%;
  	width: 32%;
	max-height: 1300px;
	overflow-y: hidden;
  	padding: 2% 1% 2% 0;
  	z-index: 10;
}

.kmap_legend_column {
	float: left;
	width: 50%;
	font-size: 0.9em;	
}

.kmap_legend_row:after {
	content: "";
	display: table;
	clear: both;	
}

.legend_item {
	overflow: hidden;
	margin: 0 0 -8px 0;
}

.legend_circle{
	position: relative;
	float: left; 
}

.legend_circle_svg {
}

.category_circle {

}

.legend_label {
	margin: auto;
	padding: 0.5em 0 0.5em 0;
	overflow: hidden;
}

.category_label {

}

#kmap_articles {
	position: relative;
	float: right;
	width: 40%;
	overflow-y: auto;
	padding: 0 5px 0 0;
	margin: 2% 0 2% 0;
}

.article {
	padding: 5px;
	margin: 0 0 25px 0;
	border-radius: 4px;
}

.a_category {
	font-family: 'Liberation Mono';
	color: lightgrey;
	padding: 0 0 5px 0;
	font-size: 0.8em;
}

.title {
	font-family: 'Tex Gyre Heros bold';
	padding: 0 0 10px 0;
}

.authors {
	font-family: 'Liberation Mono';
	padding: 0 0 5px 0;
	font-size: 0.8em;
}

.citation {
	font-family: 'Liberation Mono';
	font-size: 0.8em;
}

.journal {
	font-family: 'Liberation Mono italic';
}

.year {
}

.doi {
}

.doaj {
}

.abstract {
	font-family: 'Liberation Mono';
	padding: 10px 0 0 0;
	font-size: 0.8em;
}

@media only screen and (max-width:1200px) {
	/* Responsiveness */
	#kmap_wrapper {
		position: relative;
		width: 50%;
		float: left;
		left: 0;
  	}
	#kmap {
		position: relative;
		padding: 5% 0 0 10%;
		width: 80%;
	}

  	#kmap_legend {
  		position: relative;
  		width: 50%;
  		left: 0;
  		max-height: 100%;
  	}

	#kmap_articles {
		width: 100%;
		max-height: 100%;
	}
}

@media only screen and (max-width:750px) {

	#kmap_wrapper {
		width: 100%;
  	}

	#info {
		padding: 5% 0 0 0;
	}

	#kmap {
		position: relative; 
		padding: 5% 0 0 0;
		width: 90%;
	}

  	#kmap_legend {
  		width: 100%;
  		max-height: 100%;
  	}
}
