@font-face {
font-family: 'Tanohe Sans Regular';
font-style: normal;
font-weight: normal;
src: font-url('TanoheSans-Regular.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans Italic';
font-style: normal;
font-weight: normal;
src: font-url('TanoheSans-Italic.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans Thin';
font-style: normal;
font-weight: normal;
src: font-url('TanoheSans-Thin.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans Thin Italic';
font-style: normal;
font-weight: normal;
src: font-url('TanoheSans-ThinItalic.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans Light';
font-style: normal;
font-weight: normal;
src: font-url('TanoheSans-Light.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans Light Italic';
font-style: normal;
font-weight: normal;
src: font-url('TanoheSans-LightItalic.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans Medium';
font-style: normal;
font-weight: normal;
src: font-url('TanoheSans-Medium.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans Medium Italic';
font-style: normal;
font-weight: normal;
src: font-url('TanoheSans-MediumItalic.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans SemiBold';
font-style: normal;
font-weight: normal;
src: font-url('TanoheSans-SemiBold.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans SemiBold Italic';
font-style: normal;
font-weight: normal;
src: font-url('TanoheSans-SemiBoldItalic.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans Bold';
font-style: normal;
font-weight: normal;
src: font-url('TanoheSans-Bold.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans Bold Italic';
font-style: normal;
font-weight: normal;
src: font-url('TanoheSans-BoldItalic.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans Black';
font-style: normal;
font-weight: normal;
src: font-url('TanoheSans-Black.woff') format('woff');
}


@font-face {
font-family: 'Tanohe Sans Black Italic';
font-style: normal;
font-weight: normal;
src: font-url('TanoheSans-BlackItalic.woff') format('woff');
}