@font-face {
    font-family: 'Tanohe Sans Regular';
    src: url('TanoheSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tanohe Sans Italic';
    src: url('TanoheSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tanohe Sans Medium';
    src: url('TanoheSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tanohe Sans Light';
    src: url('TanoheSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Abhaya Libre Regular';
    src: url('AbhayaLibre-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Abhaya Libre Medium';
    src: url('AbhayaLibre-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}