// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

 /* ===========================
   ====== Search Box ====== 
   =========================== */

.home {
	position: fixed;
  	top: 40%;
  	left: 50%;
  	/* bring your own prefixes */
  	transform: translate(-50%, -50%);
}

.intro {
	text-align: center;
}

.home_search {
	overflow: auto;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  	outline: 0;
  	width: 100%;
}

.home_search input[type="text"] {
	border: 0px;
	width: 67%;
	padding: 10px 10px;
}

.home_search input[type="submit"] {
	border: 0px;
	background: none;
	background-color: rgba(38, 50, 56, 0.8);
	color: #fff;
	float: right;
	padding: 10px;
	border-radius-top-right: 4px;
	-moz-border-radius-top-right: 4px;
	-webkit-border-radius-top-right: 4px;
	border-radius-bottom-right: 4px;
	-moz-border-radius-bottom-right: 4px;
	-webkit-border-radius-bottom-right: 4px;
    cursor:pointer;
  	outline: 0;
}

/* ===========================
   ====== Medua Query for Search Box ====== 
   =========================== */

@media only screen and (min-width : 150px) and (max-width : 780px) {
	
	.home {
		position: absolute;
		top: 50%;
  		left: 50%;
		width: 95%;
	}

	.home_search {
		width: 95%;
		margin: 0 auto;
	}

}
