.logo_home {
	position: relative;
}

.logo_home img {
	width: 260px;
	margin-bottom: 88px;
}

.home {
	position: absolute;
  	top: 40%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.intro1 {
	font-family: 'Tanohe Sans SemiBold';
	font-size: 1.1em;
	margin-bottom: 25px;
}

.intro2 {
	margin-top: 45px;
}

@media only screen and (max-width : 780px) {
	
	.home {
		position: absolute;
		top: 50%;
  		left: 50%;
		width: 95%;
	}

	.logo_home img {
		width: 200px;
	}

}
