// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.logo_home {
	position: fixed;
	top: 30px;
	left: 30px;
	z-index: 999;
}

.logo_home img {
	width: 250px;
}

.home {
	position: fixed;
  	top: 40%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.home div {
	margin-bottom: 25px;
}

.intro1 {
	font-size: 1em;
	
}

.intro2 {
	font-size: 0.9em;
	
}

@media only screen and (min-width : 150px) and (max-width : 780px) {
	
	.home {
		position: absolute;
		top: 55%;
  		left: 50%;
		width: 95%;
	}

	.logo_home {
		position: relative;
		left: -4px;
		top: 0;
	}

	.logo_home img {
		width: 150px;
	}

}
